<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CityListSource" value="XML" />
    <!--Values = XML | DB-->
    <add key="StateListSource" value="XML" />
    <!--Values = XML | DB-->
    <add key="CustomerMasterDuplicateFilter" value="EQUALS" />
    <!--Values = EQUALS | LIKE-->
    <add key="BiodataSaveTarget" value="LOCAL" />
    <!--Values = LOCAL | SERVER, where to save the biodata entries-->
    <!--Values = LOCAL | SERVER, where to save the biodata entries-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
      </providers>
    </roleManager>
  </system.web>
</configuration>