<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Saatphere Andheri</title>
    <style type="text/css">
        .style1
        {
            width: 476px;
        }
    </style>
</head>
<body>
<center>
<table cellpadding="0" cellspacing="0" border="0" width="534">


<!--HEADER ROW IN MASTER TABLE-->
<tr>
    <td width="534" height="125" background="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/top.jpg" valign="top">
    
    <!--HEADER TABLE-->
    <center> 
    <table cellpadding="0" cellspacing="0" border="0" width="506">
        <tr>
    	   <td style="font-family:Arial; color:#513414;">
    	       <br/>
    	       <br/>
    	       <br/>
    	       <span style="font-size:30px; font-family:Georgia;">Saatphere<br />
               A Personalized Matrimonial Services</span><br/>
    	       &nbsp;<a href="http://www.saatphere.info" style="color:#513414; text-decoration:none; font-size:11px;" target="_blank">Home</a>
    	       &nbsp;<a href="http://saatphere.info/contactus.aspx" style="color:#513414; text-decoration:none; font-size:11px;" target="_blank">Contact Us</a>
    	       
    	       <br/>
    	   </td>
        </tr>
        <tr>
            <!--DIVIDER-->
            <td height="2">
                <img src="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/divider.jpg" alt=""/>
            </td>
        </tr>
    </table>
    </center>
    <!--END HEADER TABLE-->
    
    </td>
</tr>


<!--CONTENT ROW IN MASTER TABLE-->
<tr>
    <td>
    
    <!--CONTENT MASTER TABLE-->
    <table cellpadding="0" cellspacing="0" border="0" width="534">
    <tr>
        <!--LEFTSIDE GRASS-->
    	<td width="9" background="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/left-dirt.jpg" valign="top">
    	   <img src="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/leftgrass-top.jpg" alt="" width="9"/>
    	</td>
    	
    	<!--CONTENT CELL-->
    	<td width="513" background="http://images.peopleonegroup.com/saatpheremembershipprocess/images/paper.jpg" valign="top">
    	
    	   <!--CONTENT TABLE-->
    	   <table cellpadding="0" cellspacing="0" border="0" width="513">
    	   <tr>
    	       <!--LEFT COLUMN-->
    	       <td class="style1" width="476">
    	       <center>
    	       
    	       <!--POST-->
    	       <br/>
    	       <table cellpadding="0" cellspacing="0" border="0" 
                       style="text-align:left; width: 379px;">
    	       <tr>
    	           <!--TITLE-->
    	           <td style="font-family:Georgia; color:#513414; font-size:22px; ">
    	               Welcome to Saatphere
    	               
    	           <!--DIVIDER-->
    	           &nbsp;<br/>
    	           </td>
    	       </tr>
    	       <tr>
    	           <td style="font-size:12px; color:#4d453c;">
    	           <br/>
    	               Dear <span>$$name$$</span>, We are glad to inform you that your profile has been 
                       created. Kindly note the followings-
    	               <br />
                       <br />
                       Your Biodata ID- &nbsp;&nbsp; <span><b>$$id$$</b></span>

                       <br />
                       Membership Type-&nbsp;&nbsp;  <span><b>$$membershiptype$$</b></span>

                       <br />
                       Membership Start Date-&nbsp;&nbsp;  <span><b>$$startdate$$</b></span>

                       <br />
                       <br />
                       
                       For any further queries, please feel free to email us at info@peopleonegroup.com or call our customer service number- 9022766866 (10 am - 7 pm).
                       <br />
                       <br />
                       Please add info@peopleonegroup.com to your address book to ensure delivery into your inbox.<br />
                       <br />
                       We appreciate your trust in Saat Phere Matrimonial Services.<br />
                       <br />

                    Warm Regards,
                       <br />
                       Client Servicing Department,<br />
                       5/A Savitri Sadan, Behind M. G. Bhavan & Jain Sweets, <br />
                       Old Nagardas Road, Andheri (East), <br />
                       Mumbai - 400069, Maharashtra(India)  <br /><br />
                       Saat Phere Matrimonial Services, <a href="http://saatphere.info/">www.saatphere.info</a><br />
An Enterprise of People One Group, <a href="http://peopleonegroup.com/">www.peopleonegroup.com</a><br />
 Our other ventures<br />
<a href="http://saatphere.peopleonegroup.com/">Naukrispot.com</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.weddingplanner.peopleonegroup.com/">Magnus Events</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://shreesoftwares.peopleonegroup.com/">Shree Softwares  </a>       
   
   
               <br/>
               <br/>
    	           </td>
    	       </tr>
    	       </table>
    	       <!--END POST-->
    	       
    	       <!--POST-->
    	       <!--END POST-->
    	   
    	       </center>
    	       </td>
    	       <!--END LEFT COLUMN-->
    	       
    	       <!--RIGHT COLUMN-->
    	       <td width="156"  valign="top">
    	           &nbsp;</td>
    	       <!--END RIGHT COLUMN-->
    	   </tr>
    	   </table>
    	
    	</td>
    	
    	<!--RIGHTSIDE GRASS-->
    	<td width="12" background="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/right-dirt.jpg" valign="top">
    	   <img src="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/rightgrass-top.jpg" alt=""/>
    	</td>
    </tr>
    </table>
    <!--END CONTENT TABLE-->
    </td>
</tr>
<tr>
    <td background="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/footer.jpg">
    <!--FOOTER-->
    <center>
    <table cellpadding="0" cellspacing="0" border="0" width="513">
    <tr>
    	<td style="font-size:12px; font-family:Tahoma, Arial; color:#513414;">
    	<!--DIVIDER-->
    	<img src="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/divider.jpg" alt=""/>
    	</td>
    </tr>
    </table>
    </center>
    <!--END FOOTER-->
    </td>
</tr>
<!--BOTTOM CAP IN MASTER TABLE-->
<tr>
    <td height="2" background="http://images.peopleonegroup.com/saatpheremembershipprocess/images2/bottom.jpg">
    <div style="line-height:0px; font-size:1px; position:absolute;">&nbsp;</div>
    </td>
</tr>

</table>
</center>

</body>
</html>
