<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Saatphere: Profile Match</title>
<style type="text/css">
a:hover { text-decoration: underline !important; }
</style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f7f2e4;" bgcolor="#f7f2e4" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f7f2e4">
  <tr>
    <td>
    <table style="border: 9px solid #990000" align="center">
    <tr>
    <td>
    <!--top links-->
	<table width="698" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td valign="middle" align="center" height="45">
		<p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
		Is this email not displaying correctly? <webversion style="color: #bc1f31; text-decoration: none;" href="#">Please <a href = "http://saatphere.info/Contact.aspx" style="text-decoration: none; color: #b0a08b">contact us.</a></webversion></p></td>
	</tr>
</table>
   <!--header-->
                <!--/header-->
    <!--email container-->
    <!--<table bgcolor="#fffdf9" cellspacing="0" border="0" align="center" cellpadding="30" width="684">-->
    <table bgcolor="#fffdf9" cellspacing="0" border="0" align="center" cellpadding="30" width="684" >
  <tr>
    <td>
    <!--email content-->
    <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
  <tr>
    <td>
    <!--section 1-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td valign="top" align="center">
	
    <img src="http://admin.peopleonegroup.com/Saatphere/Templates/ProfileMatch/Template1/images/img1.jpg" alt="image dsc" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="622" />
	<!--line break-
	<!--line break-->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="bottom" align="center" height="50"><img src="http://admin.peopleonegroup.com/Saatphere/Templates/ProfileMatch/Template1/images/line-break.jpg" width="622" height="27"></td>
	</tr>
</table><!--/line break-->
	<h1 style="font-size: 30px; font-weight: normal; color: #333333; font-family: 'Times New Roman'; margin-top: 0px; margin-bottom: 20px; text-align: left">
        Profile Match for $$USERPROFILE$$</h1>
        
        <p style="font-size: 16px; line-height: 22px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px; text-align: left">
        $$text$$<br /><br /></p>
        
    <p style="font-size: 16px; line-height: 22px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px; text-align: left">
        Here are a few of our members whose profile match to your biodata. You may click 
        on the NAME of the candidate to view the complete Biodata.</p>
    </td>
  </tr>
</table><!--/section 1-->
<!--line break-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td height="72" align="center"><img src="http://admin.peopleonegroup.com/Saatphere/Templates/ProfileMatch/Template1/images/line-break-2.jpg" width="622" height="72"
    </td>
  </tr>
</table><!--/line break-->
    <!--section 2-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td align="center">
    <table cellspacing="0" border="0" cellpadding="8" width="100%" style="margin-top: 10px;">
  <tr>
    <td valign="top">$$PROFILES$$</td>
    
  </tr>
</table>
    </td>
  </tr>
</table><!--/section 2-->
    <!--section 3-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td>
<!--line break-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tr>
    <td height="72" align="center"><img src="http://admin.peopleonegroup.com/Saatphere/Templates/ProfileMatch/Template1/images/line-break-2.jpg" width="622" height="72">
    </td>
  </tr>
  
  <tr>
  <td>
  $$Regards$$
  </td>
  </tr>
  
  </table><!--/line break-->
	<!--line break-->
	                                                <!--/line break-->
	<!--line break-->
	                                                <!--/line break-->
<!--line break-->
                                                    <!--/line break-->
    </td>
  </tr>
</table><!--/section 3-->
    </td>
  </tr>
</table><!--/email content-->
    </td>
  </tr>
</table><!--/email container-->
<!--footer-->
    <!--<table width="680" border="0" align="center" cellpadding="30" cellspacing="0">-->
    <table width="698" border="0" align="center" cellpadding="25" cellspacing="0" >
  <tr>
    <td valign="top" width="330">
    <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
	    If you are not satisfied with these profiles and wish to receive more profiles, 
        please call us at 8976001288 or Email us at info@peopleonegroup.com</p>
                            <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
	                            You’re receiving this email&nbsp; because of your query for a suitable 
                                matrimonial match from Saatphere.Not interested anymore? <unsubscribe style="color: #bc1f31; text-decoration: none;" href="#">call us at 
                                8976001288 or click <a href ="{UNSUBSCRIBE}">here</a>.</unsubscribe><br />"If you are not satisfied with these profiles or have any suggestion / feedback, Kindly <a href = "http://complaints.peopleonegroup.com/New.aspx?Target=PO">Click Here</a></p>
    </td>
    <td valign="top">
        <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px; width: 201px;">
            Saatphere Matrimonial Service</p>
                            <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px; ">
                              Shop No. 4, Shirole Bhawan,   <br />
PMT Bus Depo Bldg., Deccan gymkhana,  <br />
Pune : 411004, Maharashtra, (India) <br /></p>
               
                                <a href="mailto:info@peopleonegroup.com">info@peopleonegroup.com</a></p>
                            <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px; ">
                                Phone: 
                                8976001288</p></td>
  </tr>
  	</table><!--/footer-->

    
    </td>
    
    </tr>
    </table>
	
    </td>
  </tr>
</table><!--/100% body table-->
</body>
</html>